<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li
                    v-for="(estado ,key, index) in estados"
                    :key="key+estado.nome"
                >
                    {{estado}} {{key}} {{index}}
                </li>
            </ul>
            <ul>
                <li v-for="curso in cursos" :key="index">{{curso}}</li>
            </ul>
            <button @click="removeItem">Remover</button>
        </div>
    </body>
    <script>
        const vue = new Vue({
            el: "#app",
            data() {
                return {
                    cursos: ["html", "css", "javascript", "php", "wordpress"],
                    estados: {
                        sp: {
                            populacao: "45 milhoes",
                            nome: "São Paulo",
                        },
                        mg: {
                            populacao: "21 milhoes",
                            nome: "Minas Gerais",
                        },
                        rj: {
                            populacao: "17 milhoes",
                            nome: "Rio de Janeiro",
                        },
                    },
                };
            },
            methods: {
                removeItem() {
                    this.cursos.pop();
                },
            },
        });
    </script>
</html>
